MessageMedia.Api/Service References/MessageMediaSoapService/CommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RecipientsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="recipient" type="RecipientType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecipientType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute default="0" name="uid" type="xsd:unsignedInt" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MessageFormatType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SMS" />
      <xsd:enumeration value="voice" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>